.heading {
  padding-bottom: 40px;
}

h2 {
  font-size: 30px;
  margin: 20px 0;
}
span {
  color: #0796d6;
}
  

.Services--Cards {
  display: flex;
  gap: 28px;
  margin-bottom: 40px;
  text-align: center;
  width: fit-content;
}

.Services--Card1 {
  border-bottom: 16px solid #0796d6;
  border-radius: 14px;
  box-shadow: 2px 2px 8px #0796d6;
  box-sizing: border-box;
  opacity: 1;
  padding: 20px 40px 50px;
  transition: 1s;
  width: 300px;
}

.Services--Card1 > h3,
.Services--Card1 > h6 {
  font-size: 24px;
}

/* .Services--Card1:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
} */

.Services--Card1 > h2 {
  color: #0796d6;
}

.Services--industries {
  background-color: #f7f7f7;
  box-sizing: border-box;
  display: flex;
  gap: 28px;
  padding: 16px;
  text-align: center;
}

.Services--industries > div > img {
  background-color: #fff;
  height: 200px;
  width: 200px;
}

h4 {
  font-size: 16px !important;
  font-weight: bold !important;
}