.nav {
    background-color: #f7f7f7;
    border-bottom: 16px solid #0796d6;
    box-shadow: 2px 2px 8px #0796d6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;    
    height: 110px;       
    top: 0;
    z-index: 10;
}

/* Logo */
.nav-logo img {
    height: 140px;     
    width: auto;
    object-fit: contain;
    margin-top: -15px;   
}

/* Navbar list */
.nav-list {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;           
    padding: 0;          
}

.nav-item {
    letter-spacing: 2px;
}

.nav-list > .nav-item > a {
    color: #0796d6;
    font-weight: 500;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
     display: inline-block; 
}

.nav-list > .nav-item > a:hover {
    color: #0796d6;
    transform: scale(1.1);
}

/* Contact button */
.nav-contact button {
    background-color: #0796d6;
    border: none;
    color: #fff;
    height: 30px;
    padding: 0px 12px;
    border-radius: 16px;
    width: fit-content;
      box-sizing: border-box;
     letter-spacing: 2px;
    cursor: pointer;
      transition: transform 0.3s ease, color 0.3s ease;
     align-self: center;
}


.nav-contact button:hover {
    background-color: #0796d6;
        transform: scale(1.1);
}
